.ui.secondary.pointing.menu
  = link_to "Suscriptores",
            wamui_subscribers_path,
            class: "item #{'active' if controller_name == 'subscribers'}"
  = link_to "Usuarios",
            wamui_users_path,
            class: "item #{'active' if controller_name == 'users'}"
  = link_to "Órdenes",
            wamui_orders_path,
            class: "item #{'active' if controller_name == 'orders'}"
