form#new_order
  .grid
    .column
      padding-bottom: 0

.order-items-form
  .order-items-form--header
    .field
      margin: 0em 0em 0.5em !important
    @media (max-width: 480px)
      display: none

  & > .ui.grid > .fields
    // force full width
    width: 100%

  .cantidad
    text-align: center

  .products-label.field
    margin-bottom: 1.5em

  .field
    input[type="number"]
      @media (min-width: 480px)
        padding-left: 0.4em
        padding-right: 0

  .add_nested_fields
    margin-bottom: 1em

  @media (max-width: 480px)
    .ui.grid .one.wide.field
      width: 100% !important
      padding-right: 0
      padding-left: 0
